body {
  margin: 0;
}

#online-diagnostics {
  margin: 0 auto;
  width: 380px;
  background: linear-gradient(#34a9e1, #0596d9);
  padding: 18px 25px 20px;
  text-shadow: 0 1px 1px #555;
  font: 18px Helvetica, Arial, sans-serif;
  border-radius: 20px;
}

#online-diagnostics .form-label {
  color: white;
  font-weight: 700;
  display: block;
  margin-bottom: 3px;
}

#online-diagnostics .input-field {
  width: 100%;
  height: 30px;
  font: 18px Helvetica, Arial, sans-serif;
  display: block;
  border-radius: 5px;
  padding: 5px;
  outline: 0;
  border: none;
  box-shadow: 0 1px 1px #666;

}

#online-diagnostics #message {
  height: auto;
}

#online-diagnostics .form-btn {
  border: none;
  color: white;
  background-image: -webkit-linear-gradient(#3db5df, #1078a9);
  background-image: -o-linear-gradient(#3db5df, #1078a9);
  background-image: linear-gradient(#3db5df, #1078a9);
  font: 700 17px Helvetica, Arial, sans-serif;
  height: 36px;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 1px 1px #555;
}

#online-diagnostics #choose-files {
  display: inline-block;
  width: 187px;
}

#online-diagnostics #reset-files {
  position: relative;
  top: -15px;
  display: inline-block;
  width: 187px;
}

#online-diagnostics #send-files {
  display: block;
  margin: 20px auto 0;
  width: 187px;
}

#online-diagnostics #name-blk,
#online-diagnostics #email-blk,
#online-diagnostics #age-blk,
#online-diagnostics #message-blk {
  position: relative;
}

#online-diagnostics #email-blk,
#online-diagnostics #age-blk,
#online-diagnostics #message-blk {
  margin-top: 15px;
}

.error-box {
  background-color: rgb(227, 19, 57);
  color: white;
  position: absolute;
  width: auto;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

#form-success {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#form-success #form-success-message {
  z-index: 20;
  position: fixed;
  top: 15%;
  left: 50%;
  width: 300px;
  height: auto;
  margin-left: -150px;
  border: 1px solid #6B6B6B;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 30px 0;
  background-image: -webkit-linear-gradient(#34a9e1, #0596d9);
  background-image: -o-linear-gradient(#34a9e1, #0596d9);
  background-image: linear-gradient(#34a9e1, #0596d9);
}

.close-cross {
  background-color: white;
  border-radius: 30px;
  border: 3px solid #aaa;
  width: 30px;
  height: 30px;
  left: 50%;
  top: 15%;
  position: fixed;
  z-index: 21;
  margin-left: 127px;
  margin-top: -9px;
}

.close-cross:before {
  content: '';
  position: relative;
  display: block;
  width: 110%;
  height: 3px;
  transform: rotate(45deg);
  background-color: #aaa;
  top: 14px;
  left: 0px;
}

.close-cross:after {
  content: '';
  position: relative;
  display: block;
  width: 110%;
  height: 3px;
  transform: rotate(-45deg);
  background-color: #aaa;
  top: 10px;
  left: 0px;
}

.file-upload {
  position: relative;
  overflow: hidden;
  height: 38px;
  display: inline-block;
  margin-top: 15px;
}

.file-upload > button {
  float: left;
  width: 187px;
  height: 100%;
}

.file-upload input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
}

.error-msg {
  color: red !important;
}

.error-bg {
  background-image: -webkit-linear-gradient(#E13434, #B50101) !important;
  background-image: -o-linear-gradient(#E13434, #B50101) !important;
  background-image: linear-gradient(#E13434, #B50101) !important;
}

.uploaded-name {
  display: none;
  height: 18px;
  width: 100%;
  overflow: hidden;
  font-size: 16px;
  text-align: center;
  text-shadow: none;
  color: #004c71;
  background-color: white;
  box-shadow: 0 1px 1px #555;
  border-radius: 5px;
  margin: 0 0 5px;
}
